Repository TokoBapak/.github, changes with the owners that CODEOWNERS names for each.
All owners: @aldy505, @elianiva, @ronnygunawan, @TokoBapak/frontend, @TokoBapak/backend, @TokoBapak/infrastructure

CODEOWNERS:

* @aldy505 @elianiva @ronnygunawan
BUSINESS_REQUIREMENTS.md @TokoBapak/frontend @TokoBapak/backend @TokoBapak/infrastructure
NEW_SERVICE.md @aldy505 @elianiva @ronnygunawan
ARCHITECTURE.md @TokoBapak/infrastructure

chore: requirements changes
  BUSINESS_REQUIREMENTS.md
Owners: @TokoBapak/frontend, @TokoBapak/backend, @TokoBapak/infrastructure

feat: contributing guide
  CONTRIBUTING.md
  CONTRIBUTING_ID.md
  README.md
  profile/README.md
Owners: @aldy505, @elianiva, @ronnygunawan

feat: contributing guide (#5)
  CONTRIBUTING.md
  CONTRIBUTING_ID.md
  README.md
  profile/README.md
Owners: @aldy505, @elianiva, @ronnygunawan

chore: requirements changes (#4)
  BUSINESS_REQUIREMENTS.md
Owners: @TokoBapak/frontend, @TokoBapak/backend, @TokoBapak/infrastructure

chore: use full english instead
  ARCHITECTURE.md
  BUSINESS_REQUIREMENTS.md
  NEW_BACKEND_SERVICE.md
  README.md
  profile/README.md
Owners: @TokoBapak/infrastructure, @TokoBapak/frontend, @TokoBapak/backend, @aldy505, @elianiva, @ronnygunawan

chore: use full english instead (#12)
  ARCHITECTURE.md
  BUSINESS_REQUIREMENTS.md
  NEW_BACKEND_SERVICE.md
  README.md
  profile/README.md
Owners: @TokoBapak/infrastructure, @TokoBapak/frontend, @TokoBapak/backend, @aldy505, @elianiva, @ronnygunawan
